.editorconfig
.DS_Store

/App/.lin3s_cs.yml
/App/.php_cs*
/App/.phpspec_cs*
/App/.web-server-pid
/App/composer.phar
/App/parameters.yml
/App/src/App/Infrastructure/Ui/Assets/.eslint.yml
/App/src/App/Infrastructure/Ui/Assets/.scss_lint.yml
/App/src/App/Infrastructure/Ui/Assets/node_modules
/App/src/App/Infrastructure/Ui/Assets/build
/App/src/App/Infrastructure/Ui/Http/Symfony/.htaccess
/App/src/App/Infrastructure/Ui/Http/Symfony/bundles
/App/src/App/Infrastructure/Ui/Http/Symfony/robots.txt
/App/src/App/Infrastructure/Ui/manifest.json
/App/var/bootstrap.php.cache
/App/var/cache/*
!App var/cache/.gitkeep
/App/var/logs/*
!App/var/logs/.gitkeep
/App/var/sessions/*
!App/var/sessions/dev/.gitkeep
!App/var/sessions/prod/.gitkeep
/App/vendor
/App/src/App/Infrastructure/Ui/Assets/.eslintrc.js
/App/src/App/Infrastructure/Ui/Assets/.stylelintrc.js
/Docker/*
!Docker/php/.compositeui-env.dist
!Docker/php/app-parameters.yml.dist
!Docker/php/docker-entrypoint.sh

.git
.gitignore
Makefile
Readme.md
.idea

CompositeUi/.env
/CompositeUi/.lin3s_cs.yml
/CompositeUi/.php_cs*
/CompositeUi/.phpspec_cs*
/CompositeUi/.web-server-pid
/CompositeUi/composer.phar
/CompositeUi/parameters.yml
/CompositeUi/src/Infrastructure/Ui/Assets/.eslintrc.js
/CompositeUi/src/Infrastructure/Ui/Assets/.stylelintrc.js
/CompositeUi/src/Infrastructure/Ui/Assets/node_modules
/CompositeUi/src/Infrastructure/Ui/Assets/build
!/CompositeUi/src/Infrastructure/Ui/Assets/build/.gitkeep
/CompositeUi/src/Infrastructure/Ui/Http/Symfony/.htaccess
/CompositeUi/src/Infrastructure/Ui/Http/Symfony/bundles
/CompositeUi/src/Infrastructure/Ui/Http/Symfony/robots.txt
/CompositeUi/src/Infrastructure/Ui/manifest.json
/CompositeUi/var/bootstrap.php.cache
/CompositeUi/var/cache/*
!CompositeUi/var/cache/dev/.gitkeep
!CompositeUi/var/cache/prod/.gitkeep
/CompositeUi/var/log/*
!CompositeUi/var/log/.gitkeep
/CompositeUi/var/sessions/*
!CompositeUi/var/sessions/dev/.gitkeep
!CompositeUi/var/sessions/prod/.gitkeep
/CompositeUi/vendor
.php_cs
.php_cs.cache
