<div class="cookies bengor-cookies js-bengor-cookies">
    <div class="bengor-cookies__content">
        <p class="bengor-cookies__text"><strong>{{ 'cookies.use'|trans }}</strong></p>
        <p class="bengor-cookies__text">
            {{- 'cookies.message'|trans }} <a href="#" class="bengor-cookies__link" target="_blank">
                {{- 'cookies.use'|trans -}}
            </a><span>.</span>
        </p>
    </div>
    <div class="bengor-cookies__actions">
        <a class="bengor-cookies__button">{{ 'cookies.accept'|trans }}</a>
    </div>
</div>
